@font-face {
  font-family: "bodoni_16ptitalic";
  src: url("../fonts/bodoni-16-book-italic-webfont.woff2") format("woff2"),
    url("../fonts/bodoni-16-book-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_16ptregular";
  src: url("../fonts/bodoni-16-book-webfont.woff2") format("woff2"),
    url("../fonts/bodoni-16-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_24ptitalic";
  src: url("../fonts/bodoni-24-book-italic-webfont.woff2") format("woff2"),
    url("../fonts/bodoni-24-book-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_24ptregular";
  src: url("../fonts/bodoni-24-book-webfont.woff2") format("woff2"),
    url("../fonts/bodoni-24-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_48ptitalic";
  src: url("../fonts/bodoni-48-book-italic-webfont.woff2") format("woff2"),
    url("../fonts/bodoni-48-book-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_48ptregular";
  src: url("../fonts/bodoni-48-book-webfont.woff2") format("woff2"),
    url("../fonts/bodoni-48-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_96ptitalic";
  src: url("../fonts/bodoni-96-book-italic-webfont.woff2") format("woff2"),
    url("bodoni-96-book-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bodoni_96ptregular";
  src: url("../fonts/bodoni-96-book-webfont.woff2") format("woff2"),
    url("../fonts/bodoni-96-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  padding: 20px 20px 0 20px;
}

footer {
  flex-shrink: 0;
  font-family: "bodoni_16ptregular";
  width: 100%;
  line-height: 1.25;
  font-size: 15px;
  padding: 20px 0 20px 0;
}

figure {
  width: 100%;
  margin: 0 0 60px 0;
  padding: 0;
}

figure > * {
  margin-bottom: 30px;
}

blockquote {
  font-family: "bodoni_24ptitalic";
  font-size: 25px;
  line-height: 1.25;
}

figcaption {
  font-family: "bodoni_16ptregular";
  font-size: 23px;
  margin-bottom: 20px;
}

figure > cite {
  font-size: 15px;
  font-style: normal;
  line-height: 1.25;
}

figcaption cite {
  font-family: "bodoni_16ptitalic";
  font-style: normal;
}

figure > cite {
  font-family: "bodoni_16ptregular";
}

a,
a:hover,
a:active,
a:visited {
  color: white;
}

@media (min-width: 768px) {
  .content {
    padding: 60px 60px 0 60px;
  }
  figure > * {
    margin-bottom: 60px;
  }
  figcaption {
    margin-bottom: 30px;
  }
}

@media (min-width: 480px) {
  blockquote {
    font-size: 40px;
  }
  figcaption {
    font-size: 30px;
  }
  figure > cite {
    font-size: 25px;
  }
}

@media (min-width: 480px) {
  footer {
    font-size: 20px;
    font-family: "bodoni_24ptregular";
  }
}

/* 40px/5.73vwx100)=698 */
/* @1920 ~= 110px (110/19.2=5.72916667) */
@media (min-width: 698px) {
  body {
    align-items: center;
  }
  figure {
    margin-top: 0;
  }
  blockquote {
    font-family: "bodoni_48ptitalic";
    font-size: 5.73vw;
    padding: 0;
  }
}

/* 30px/4.2vwx100)=714 */
/* @1920 ~= 80px  (80/19.2=4.2)=*/
@media (min-width: 714px) {
  figcaption {
    font-size: 4.2vw;
  }
  figure > cite {
    font-size: 2vw;
    margin-bottom: 60px;
  }
}

@media (min-width: 1920px) {
  blockquote {
    font-family: "bodoni_96ptitalic";
    max-width: 1720px;
    margin: 60px auto 60px;
    font-size: 110px;
  }
  figcaption {
    font-family: "bodoni_48ptregular";
    margin: 0 auto 60px;
    font-size: 80px;
  }
  figcaption > cite {
    font-family: "bodoni_48ptitalic";
  }
  figure > cite {
    font-family: "bodoni_24ptregular";
    font-size: 30px;
    margin: 0 auto 60px;
  }
}

.credit {
  color: #969696;
  padding: 8px;
  max-width: 600px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}